* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: white;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(5, 150, 70);
  height: 4rem;
}

nav div ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

a {
  text-decoration: none;
}
nav div ul a:hover {
  font-size: 1.1rem;
  color: rgb(3, 58, 3);
}

nav div ul li {
  margin: 0 0.5rem;
}

.leftdivnav {
  font-size: 2.5rem;
}

.rightdivnav {
  min-width: 33rem;
}

body {
  background-color: rgb(3, 75, 35);
}

.SectionDiv {
  display: flex;
  justify-content: space-evenly;
  padding: 10rem 0rem;
}

.firstSectionHeading {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 2rem;
}

.resume-button {
  min-height: 3rem;
  color: #fcfffc;
  background-color: #059646;
  margin: 2rem 0rem;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.resume-button:hover {
  cursor: pointer;
  border: 2px solid;
  border-color: #fcfffc;
}

.resume-button:active {
  border: 2px solid;
  border-color: #021d02;
}

.div-hr {
  background-image: url(".\\Images\\bg_img.png");
  background-attachment: fixed;
  background-size: cover;
  height: 7rem;
}

.image-anim {
  height: auto;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.6);
  cursor: pointer;
  will-change: transform;
  transition: 0.3s;
  transform: perspective(1000px) rotateX(-8deg) rotateY(-8deg);
}

.myimage {
  margin: 0rem;
  width: 20rem;
  border-radius: 50%;
}

.icon {
  border-radius: 7rem;
  width: 3rem;
  height: auto;
}

.firstSectionHeading > div > a > input:active {
  border: 2px solid #021d02;
}

.firstSectionHeading > div > a > input:hover {
  border: 2px solid;
}

.icon-div {
  height: 20px;
}

#myspan {
  color: rgb(11, 250, 118);
}

.greenText {
  color: rgb(11, 250, 118);
}

footer div {
  display: flex;
  justify-content: center;
}

footer {
  background-color: rgb(5, 150, 70);
  display: flex;
  height: 15rem;
  justify-content: center;
}

footer > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  text-align: center;
  padding: 3rem 0rem;
}

h4 {
  padding: 1rem 0rem 1rem 0rem;
}

.p-div {
  width: 30rem;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  flex-wrap: nowrap;
  justify-content: center;
  flex: 1 1 35rem;
}

.aboutimage {
  margin: 4rem;
  width: 30rem;
  border-radius: 5%;
}

.myimage:hover, .aboutimage:hover {
  box-shadow: 0 50px 100px rgba(0, 0, 0, 0.6);
  transition: 0.3s;
  transform: perspective(100rem) rotateX(8deg) rotateY(8deg);
}
