@media screen and (max-width: 500px) {
  #nav {
    flex-direction: column;
  }
  .rightdivnav > ul {
    flex-direction: column;
    text-align: center;
  }
  .rightdivnav {
    min-width: auto;
    font-size: large;
  }
}

@media screen and (max-width: 970px) {
  .SectionDiv {
    padding: 1rem;
  }

  .myimage {
    margin: 3rem 0 0 0;
    width: 66vw;
  }

  .aboutimage {
    margin: 1rem;
    width: 90vw;
  }

  .exp-div-inner {
    width: auto;
    margin: 1rem 0;
  }

  .leftdivnav {
    font-size: xxx-large;
  }

  .exp-div {
    margin: 0px;
  }

  .skills-container {
    margin: 0px;
  }

  .edu-item-div {
    margin: 1rem 0rem;
  }

  .edu-item-div-details {
    margin: 0rem 2rem;
    min-width: 0rem;
  }

  .box-container {
    flex-direction: column;
  }

  .box-container .box {
    display: grid;
    flex: none;
    margin: 0.5rem 0;
    justify-content: center;
  }

  .contact-details-div {
    margin: 0;
  }
  .contact-details-inner-div {
    flex-direction: column;
  }

  footer {
    padding: 1rem;
  }

  footer > div > div > div > h3,
  footer > div > div > div > p,
  footer > div > div > div > ul,
  .edu-item-div-details > .blackText {
    text-align: center;
  }

  .copyright {
    flex-direction: column;
  }
}
